<html lang="en">
<head>
    <%- include ("../helpers/head"); %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <%- include ("../helpers/navbar"); %>
  
    <h1>Welcome</h1>
    <div><%= tagline %></div>
    <div><%= firstname %></div>
    <div><%= lastname %></div>
    <!-- How do we know all the valid values for a property, not just the ones that are checked?-->
    <!-- hack would be to have a known record with all values checked-->
    <table>
      <% for(var i=0; i < business_interests.length; i++) { %>
         <tr>
           <td><%= business_interests[i] %></td>
         </tr>
      <% } %>
    </table>
  </div>

<form action="getbyemail" method="post">
        Email: <input type="text" name="searchemail" /><br><br>
        <input type="submit" value="Search"/><br><br><hr>
</form>

</body>

</html>