<html lang="en">
<head>
    <%- include ("../helpers/head"); %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <%- include ("../helpers/navbar"); %>
  
    <h1>Welcome</h1>
    <div><%= tagline %></div>
    <div><%= firstname %></div>
    <div><%= lastname %></div>
  </div>

<form action="getbyemail" method="post">
        Email: <input type="text" name="searchemail" /><br><br>
        <input type="submit" value="Search"/><br><br><hr>
</form>

</body>

</html>